[submodule "src/ptz_manager"]
	path = src/ptz_manager
	url = https://github.com/Prisma-Drone-Team/ptz_manager
	branch = MDPI-drones
[submodule "src/axis_camera"]
	path = src/axis_camera
	url = https://github.com/pakocero/axis_camera
	branch = ldc-ptz
[submodule "src/zbar_ros"]
	path = src/zbar_ros
	url = https://github.com/ros-drivers/zbar_ros
	branch = humble
[submodule "src/ptz_action_server"]
	path = src/ptz_action_server
	url = https://github.com/clearpathrobotics/ptz_action_server.git
	branch = ros2
[submodule "src/camera_info_manager_py"]
	path = src/camera_info_manager_py
	url = https://github.com/ros-perception/image_common
	branch = humble
[submodule "src/roi_calculation_yolo"]
	path = src/roi_calculation_yolo
	url = https://github.com/pakocero/roi_calculation_yolo.git
	branch = master
